<!--The content below is only a placeholder and can be replaced.-->
<div class="tictactoe" style="text-align:center">
  <div class="header">
    <h1>Tic Tac Toe</h1>
  </div>
  <div class="tic-tac-toe-wrapper">
    <div class="turn">
      <span>{{turn}}</span>
    </div>
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="2px">
      <mat-grid-tile class="grid-tile" *ngFor="let tile of Tiles; let i = index" [style.background]="tile.color"
        (click)="changeText(i)">{{tile.text}}</mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="play-again-button">
    <button mat-raised-button color="accent" (click)="playAgain()">Play Again !</button>
  </div>

</div>