@mixin height-width {
  height: 18.75rem;
  width: 18.75rem;
}

@mixin grid-tile-hover {
  background-color: rgb(78, 190, 194);
  transition: 0.5s;
}

.tictactoe {
  background-image: url(../assets/Images/x-o-background-seamless-pattern-68583854.jpg);
  margin: 0;
}

.header {
  background-color: #ffffff;
  width: 300px;
  margin: 0 auto -4.18rem auto;
}
.tic-tac-toe-wrapper {
  margin: 6.25rem auto 6.25rem auto;

  @include height-width();
  mat-grid-tile {
    font-size: 3.375rem;
    border: 0.0625rem solid black;
    background-color: rgb(147, 233, 229);
    cursor: pointer;
    .mat-figure:hover {
      @include grid-tile-hover();
    }
  }
}

.turn {
  background-color: #00f094;
  width: 18.75rem;
  height: 2.5rem;
  padding-top: 1.05rem;
  border: 0.0625rem solid black;
  border-bottom: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.selected-box {
  .mat-figure {
    background-color: rgb(228, 177, 135);
  }
}

.play-again-button {
  width: 18.75rem;
  height: 5rem;
  margin: auto;
}

.mat-raised-button.mat-accent {
  margin: auto;
  width: 18.75rem;
  background-color: #00f094;
  font-size: large;
  color: black;
}

  .strike-through-2-4-6 {
    height: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 327px;
    background-color: black;
    position: relative;
    top: -158px;
    left: -6px;
  }

  .strike-through-0-4-8{
    height: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(45deg);
    width: 351px;
    background-color: black;
    position: relative;
    top: -152px;
    left: -24px;
    transition : width 1s;
  }

  .strike-through-1-2-3{
    height: 4px;
    width: 277px;
    background-color: black;
    position: relative;
    top: -250px;
    left: 12px;
  }

  .strike-through-4-5-6{
    height: 4px;
    width: 277px;
    background-color: black;
    position: relative;
    top: -152px;
    left: 12px;
  }

  .strike-through-7-8-9{
    height: 4px;
    width: 277px;
    background-color: black;
    position: relative;
    top: -52px;
    left: 12px;
  }

  .strike-through-1-4-7{
    height: 4px;
    width: 277px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: black;
    position: relative;
    top: -150px;
    left: -88px;
  }

  .strike-through-2-5-8{
     height: 4px;
    width: 277px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: black;
    position: relative;
    top: -150px;
    left: 12px;
  }

  .strike-through-3-6-9{
    height: 4px;
    width: 277px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: black;
    position: relative;
    top: -150px;
    left: 113px;
  }




